# Dependencies
node_modules/
.pnp
.pnp.js

# Production Build
dist/
dist-ssr/
*.local

# System & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Environment variables
.env
.env.*
!.env.example

# Temporary media storage
.tempmediaStorage/
__MACOSX/
.agents/
